<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="../static/datapicker.css" />
  <script type="text/javascript" src="../static/rich-datepicker.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../static/jquery.timeentry.css"> 
  <script type="text/javascript" src="../static/jquery.plugin.js"></script> 
  <script type="text/javascript" src="../static/jquery.timeentry.js"></script>

  <script>
  $( function() {
    var months = {
    Jan: 1,
    Feb: 2,
    Mar: 3,
    Apr: 4,
    May: 5,
    Jun: 6,
    Jul: 7,
    Aug: 8,
    Sep: 9,
    Oct: 10,
    Nov: 11,
    Dec: 12
  }

    console.log(months["Feb"]);


  });
  </script>
</head>
<body>
 
  <input class="demo" type="text" />

  <input class="emo" type="text" value="1" />

 
</body>
</html>